<ons-page ons-show="updateToolbar('Search'); !isAndroid() && focusInput('ios')" ng-infinite-scroll="loadMore">
  <ons-if class="search-bar" platform="ios other">
    <form ng-submit="search(true); blurInput('ios')">
      <ons-input type="search" class="search-input" input-id="ios-search-input" placeholder="Search for videos in YouTube" ng-model="query"></ons-input>
    </form>
  </ons-if>

  <div class="content">

    <ons-list>
      <ons-list-item tappable ng-repeat="video in results track by $index" ng-click="modal.show(); launch(video, true)">
        <div class="left">
          <img class="thumbnail" ng-src="{{ video.thumbnail }}">
        </div>
        <div class="center">
          <div class="title">
            {{ video.title }}
          </div>
          <div class="user">
            <ons-icon icon="fa-user"></ons-icon><span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span>
          </div>
          <div class="desc">
            {{ video.description }}
          </div>
        </div>
      </ons-list-item>
    </ons-list>

    <p class="after-list">
      <span ng-show="results.length === 0 && !loading">{{ labelSearch }}</span>
      <span ng-show="loading"><ons-icon icon="fa-spinner" size="26px" spin></ons-icon></span>
    </p>
  </div>
</ons-page>
