<ons-page>
  <ons-toolbar id="searchToolbar" style="position: fixed;" fixed-style>
    <div class="center youtube-toolbar">Onsen UI YouTube - Search</div>
  </ons-toolbar>
  <div class="search-bar youtube-toolbar">
    <form ng-submit="search()">
      <input type="search" class="search-input" placeholder="Search for videos in YouTube" ng-model="query">
    </form>
  </div>
  <ons-list class="after-search-bar">
    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="video in results" ng-click="modal.show(); launch(video, true)">
      <ons-row>
        <ons-col width="95px">
          <img class="thumbnail" ng-src="{{ video.thumbnail }}">
        </ons-col>
        <ons-col>
          <div class="title">
            {{ video.title }}
          </div>
          <div class="user">
            <ons-icon icon="fa fa-user"><span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span></ons-icon>
          </div>
          <div class="desc">
            {{ video.description }}
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
  <p class="after-list" ng-show="results.length === 0">
    <span ng-hide="loading">{{ label }}</span>
    <span ng-show="loading"><ons-icon icon="fa fa-spinner" size="22px" spin="true"></ons-icon></span>
  </p>
  <p class="after-list" ng-show="results.length > 0 && nextPageToken !== ''">
    <ons-button var="loadMoreButton" style="background-color: #e52d27" ng-click="loadMoreButton.startSpin(); loadMoreButton.setDisabled(true); search()">Load more videos</ons-button>
  </p>
</ons-page>